* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* cursor: default; */
}

#text-navbar {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    color: white;
    z-index: 10;
}